.BestSelling {
  a {
    background-color: white;
  }
  .BestSellingBoxContainer {
    direction: rtl;
    .numberDescriptionBox {
      font-size: 1.5rem;
    }
    &::-webkit-scrollbar {
      height: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(128, 128, 128, 0.466);
      border-radius: 10px;
    }
  }
  .mySwiper {
    display: flex;
    flex-wrap: wrap;
  }
  .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    text-align: center;
    background: #fff;
    height: calc((100%) / 3) !important;
  }
}
@media only screen and (max-width: 578px) {
  .BestSelling {
    .BestSellingBoxContainer {
      height: 40vh;

      .descriptionBox {
        font-size: 0.8rem;
      }
      .numberDescriptionBox {
        font-size: 1.5rem;
      }
    }
  }
}
@media only screen and (min-width: 578px) {
  .BestSelling {
    .BestSellingBoxContainer {
      height: 50vh;

      .descriptionBox {
        font-size: 0.9rem;
      }
      .numberDescriptionBox {
        font-size: 1.5rem;
      }
    }
  }
}
