.Footer {
  .contactTitleHeaderInFooter {
    font-size: 0.9rem;
    direction: rtl;
  }
  .contactTitleHeaderInFooter,
  .contactTitleMediaInFooter {
    font-size: 0.7rem;
  }
  .iconMediaFooter {
    &:hover {
      color: rgba(0, 0, 0, 0.685);
    }
  }
  .inputEmailInFooter {
    outline: none;
    background-color: rgb(234, 234, 234);
    height: 5vh;
    border: none;
    font-size: 0.9rem;
  }
  .liItemFooter {
    transition: 0.2s;
    &:hover {
      color: red;
    }
  }
  .titleEndOfFooter {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 578px) {
  .Footer {
    .titleLiFooter {
      font-size: 0.9rem;
    }
    .liItemFooter {
      font-size: 0.7rem;
    }
    .titleInAccordion {
      font-size: 1rem;
    }
    .bodyInAccordion {
      font-size: 0.9rem;
    }
  }
}

@media only screen and (min-width: 578px) {
  .Footer {
    .titleLiFooter {
      font-size: 0.8rem;
    }
    .liItemFooter {
      font-size: 0.6rem;
    }
    .titleInAccordion {
      font-size: 1.1rem;
    }
    .bodyInAccordion {
      font-size: 0.9rem;
    }
  }
}
@media only screen and (min-width: 657px) {
  .Footer {
    .titleLiFooter {
      font-size: 1rem;
    }
    .liItemFooter {
      font-size: 0.8rem;
    }
  }
}
