.Incredible {
  a {
    background-color: white;
  }
  .IncredibleContainerBoexes {
    .imgCoverForCards {
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
@media only screen and (max-width: 577px) {
  .Incredible {
    p {
      font-size: 1rem;
    }
    .BadgeDiscountPercent {
      font-size: 0.5rem;
      border-radius: 45px;
    }
  }
}
@media only screen and (min-width: 577px) {
  .Incredible {
    p {
      font-size: 1rem;
    }
    .BadgeDiscountPercent {
      font-size: 0.7rem;
      border-radius: 10px;
    }
  }
}
