.Incredible {
  .IncredibleContainerBoexes {
    overflow-x: scroll;
    &::-webkit-scrollbar-thumb {
      background: #7a3030;
    }
    &::-webkit-scrollbar {
      height: 10px;
    }
    .imgCoverForCards {
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}
@media only screen and (max-width: 577px) {
  .Incredible {
    p {
      font-size: 1rem;
    }
    .BadgeDiscountPercent {
      font-size: 0.5rem;
      border-radius: 45px;
    }
  }
}
@media only screen and (min-width: 577px) {
  .Incredible {
    p {
      font-size: 1rem;
    }
    .BadgeDiscountPercent {
      font-size: 0.7rem;
      border-radius: 10px;
    }
  }
}
