@media only screen and (max-width: 578px) {
  .InformaintionProduct {
    .headerInfoProduct {
      font-size: 0.8rem;
    }
    .titleRecommendationsProduct {
      font-size: 1rem;
    }
  }
}
@media only screen and (min-width: 578px) {
  .InformaintionProduct {
    .headerInfoProduct {
      font-size: 1.1rem;
    }
    .titleRecommendationsProduct {
      font-size: 1.3rem;
    }
  }
}
