.AccordionPrice {
  position: relative;
  .headerAccordion {
    z-index: 1;
    background-color: white;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .titleHeader {
      font-size: 0.8rem;
    }
    &:hover {
      border: 2px solid aqua;
    }
  }
  .bodyAccordion {
    overflow: hidden;
    background-color: white;
    position: absolute;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    height: 0px;
    z-index: -1;
    .inputPrice {
      font-size: 1rem;
      outline: none;
      border: none;
      border-bottom: 1px solid black;
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
    .labaleInputReng {
      font-size: 1rem;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  .openBody {
    -webkit-animation-name: openBodyAnime;
    animation-name: openBodyAnime;
  }
  .closeBody {
    -webkit-animation-name: closeBodyAnime;
    animation-name: closeBodyAnime;
  }

  @-webkit-keyframes openBodyAnime {
    0% {
      height: 0;
    }

    100% {
      height: 300%;
    }
  }

  @keyframes openBodyAnime {
    0% {
      height: 0;
    }

    100% {
      height: 300%;
    }
  }

  @-webkit-keyframes closeBodyAnime {
    0% {
      height: 300%;
    }

    100% {
      height: 0%;
    }
  }

  @keyframes closeBodyAnime {
    0% {
      height: 300%;
    }

    100% {
      height: 0%;
    }
  }
}
