* {
  padding: 0 !important;
  margin: 0 !important;
  font-family: Byekan;
}

body {
  min-width: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0 !important;
  margin: 0 !important;
}

@font-face {
  font-family: Byekan;
  src: url("../Fonts/B_Yekan/Yekan.ttf");
}

a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
  font-size: var(--fontsm);
}

a:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.205);
}

input {
  font-size: var(--fontsm);
}

li {
  font-size: var(--fontmicro);
}

p {
  font-size: var(--fontsm);
}

h1 {
  font-size: var(--fontxxl);
}

h2 {
  font-size: var(--fontxl);
}

.cursor-pointer {
  cursor: pointer;
}

@media only screen and (max-width: 577px) {
  :root {
    --fontmicro: 3.5vw;
    --fontsm: 4vw;
    --fontmd: 4.5vw;
    --fontlg: 5vw;
    --fontxl: 5.5vw;
    --fontxxl: 6vw;
  }
}

@media only screen and (min-width: 577px) {
  :root {
    --fontmicro: 1.75vw;
    --fontsm: 2vw;
    --fontmd: 2.5vw;
    --fontlg: 3vw;
    --fontxl: 3.25vw;
    --fontxxl: 3.5vw;
  }
}

.NavBar {
  z-index: 3;
}

.NavBar .mainContainerNavbar button {
  background-color: white;
  border: none;
  outline: none;
}

.NavBar .mainContainerNavbar input {
  border: none;
  outline: none;
  direction: rtl;
  background-color: #eeeeee;
}

.NavBar .mainContainerNavbar .focusInput {
  background-color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.144);
  outline: none;
  border-bottom: #00b7ff 2px solid;
}

.NavBar .mainContainerNavbar .containerDivLogin {
  border: 0.5px solid rgba(0, 0, 0, 0.302);
}

.NavBar .mainContainerNavbar .containerDivLogin p {
  font-size: 0.8rem;
}

.NavBar .mainContainerNavbar .containerDivSearchInput {
  position: relative;
}

.NavBar .mainContainerNavbar .containerDivSearchInput input {
  z-index: 2;
}

.NavBar .mainContainerNavbar .containerDivSearchInput .containerDivIcon {
  position: absolute;
  left: 2%;
  margin: 0;
  z-index: 3;
  background: none;
}

.NavBar .mainContainerNavbar .containerDivSearchInput .containerDivIcon button {
  width: 100%;
  padding: 0.5vw;
}

.NavBar .mainContainerNavbar .containerDivSearchInput .resultsSearchModal {
  z-index: 2;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  height: 70vh;
  left: -85%;
  right: 0%;
  background-color: white;
}

.NavBar .mainContainerNavbar .containerDivSearchInput .resultsSearchModal .containerItemSearch:hover {
  background-color: #cecece;
}

.NavBar .mainContainerNavbar .containerDivSearchInput .resultsSearchModal .itemText {
  font-size: 1rem;
}

.NavBar .mainContainerNavbar .containerDivSearchInput .resultsSearchModal .itemTextSlider {
  font-size: 0.85rem;
}

.NavBar .mainContainerNavbar .containerDivSearchInput .backgroundModalResultSearch {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(75, 74, 74, 0.463);
  top: 0;
  height: 100%;
}

.mainContainerMenu {
  z-index: 2;
}

.mainContainerMenu ul {
  z-index: 1;
  position: relative;
}

.mainContainerMenu ul li {
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

.mainContainerMenu ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ff0e0e;
  transition: width 0.3s;
}

.mainContainerMenu ul li:hover::after {
  width: 100%;
}

.mainContainerMenu ul .subMenu {
  right: 0;
  top: 100%;
  border: 1px solid rgba(0, 0, 0, 0.37);
}

.mainContainerMenu ul .subMenu li {
  width: 100%;
  text-align: center;
  transition: 0.1s;
}

.mainContainerMenu ul .subMenu li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
}

.mainContainerMenu ul .subMenu li:hover {
  width: 100%;
  color: red;
}

.Incredible a {
  background-color: white;
}

.Incredible .IncredibleContainerBoexes .imgCoverForCards {
  object-fit: cover;
}

.Incredible .swiper {
  width: 100%;
  height: 100%;
}

.Incredible .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Incredible .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 577px) {
  .Incredible p {
    font-size: 1rem;
  }
  .Incredible .BadgeDiscountPercent {
    font-size: 0.5rem;
    border-radius: 45px;
  }
}

@media only screen and (min-width: 577px) {
  .Incredible p {
    font-size: 1rem;
  }
  .Incredible .BadgeDiscountPercent {
    font-size: 0.7rem;
    border-radius: 10px;
  }
}

.Slider .containerSlideSwiper {
  height: 50vh;
}

.Slider .containerSlideSwiper .swiper {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Slider .containerSlideSwiper .swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Slider .containerSlideSwiper .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 578px) {
  .imgSliderHeaderHome {
    height: 20vh;
  }
}

@media only screen and (min-width: 578px) {
  .imgSliderHeaderHome {
    height: 50vh;
  }
}

@media only screen and (max-width: 700px) {
  .Home .containerSlideSwiper {
    height: 20vh;
    width: 100%;
  }
}

@media only screen and (min-width: 800px) {
  .CategoriesItemsHome p {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 800px) {
  .RecommendationSubCategories p {
    font-size: 1.3rem;
  }
}

.DigiplusBaner {
  background-color: #772169;
}

.DigiplusBaner .picBsnerDigiplsud {
  object-fit: cover;
  width: 90%;
}

@media only screen and (max-width: 578px) {
  .DigiplusBaner .leftDIvMainDigiPlus span {
    font-size: 0.8rem;
  }
  .DigiplusBaner .leftDIvMainDigiPlus .boxItemDigiPlus {
    overflow: scroll;
  }
}

@media only screen and (min-width: 578px) {
  .DigiplusBaner .leftDIvMainDigiPlus span {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 820px) {
  .DigiplusBaner .leftDIvMainDigiPlus span {
    font-size: 1rem;
  }
}

.BestSelling a {
  background-color: white;
}

.BestSelling .BestSellingBoxContainer {
  direction: rtl;
}

.BestSelling .BestSellingBoxContainer .numberDescriptionBox {
  font-size: 1.5rem;
}

.BestSelling .BestSellingBoxContainer::-webkit-scrollbar {
  height: 0.5rem;
}

.BestSelling .BestSellingBoxContainer::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.466);
  border-radius: 10px;
}

.BestSelling .mySwiper {
  display: flex;
  flex-wrap: wrap;
}

.BestSelling .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.BestSelling .swiper-slide {
  text-align: center;
  background: #fff;
  height: calc((100%) / 3) !important;
}

@media only screen and (max-width: 578px) {
  .BestSelling .BestSellingBoxContainer {
    height: 40vh;
  }
  .BestSelling .BestSellingBoxContainer .descriptionBox {
    font-size: 0.8rem;
  }
  .BestSelling .BestSellingBoxContainer .numberDescriptionBox {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 578px) {
  .BestSelling .BestSellingBoxContainer {
    height: 50vh;
  }
  .BestSelling .BestSellingBoxContainer .descriptionBox {
    font-size: 0.9rem;
  }
  .BestSelling .BestSellingBoxContainer .numberDescriptionBox {
    font-size: 1.5rem;
  }
}

.modalProdacts {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.362);
}

.modalProdacts .divContainerModal {
  overflow: hidden;
}

.modalProdacts .divContainerModal .mainDivCOntentModal {
  height: 93%;
}

.modalProdacts .divContainerModal .mainDivCOntentModal .mainDivForMiniPhotosProduct {
  overflow-y: auto;
}

.modalProdacts .divContainerModal .mainDivCOntentModal .mainDivSlider .swiper {
  width: 100%;
  height: 100%;
}

.modalProdacts .divContainerModal .mainDivCOntentModal .mainDivSlider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalProdacts .divContainerModal .mainDivCOntentModal .mainDivSlider .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 578px) {
  .modalProdacts .divContainerModal p {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 578px) {
  .modalProdacts .divContainerModal {
    height: 82%;
    top: 8%;
  }
  .modalProdacts .divContainerModal p {
    font-size: 1.2rem;
  }
}

.mainDivModal {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.362);
  overflow-y: scroll;
}

.mainDivModal .containerComments {
  background-color: #dadada;
}

.mainDivModal .containerComments {
  overflow-x: auto;
}

.mainDivModal .buyerBadage {
  background-color: #eeeeee;
  color: #6d6d6d;
  font-size: 0.8rem;
}

@media only screen and (min-width: 578px) {
  .commentCard {
    border-bottom: 1px solid #bdbdbd;
  }
  .titleComent {
    font-size: 1.1rem;
  }
}

.BreadcrumbOfHeader .BreadcrumForProcuct {
  font-size: 0.7rem;
  text-align: end;
}

.mainDataDivPriduct .optionVipUserTitle,
.mainDataDivPriduct .titleColorProduct,
.mainDataDivPriduct .titleProduct {
  font-size: 1rem;
}

.mainDataDivPriduct .titleServiseDiscription,
.mainDataDivPriduct .listOption,
.mainDataDivPriduct .btnBuyProduct {
  font-size: 1rem;
}

.mainDataDivPriduct .discriptionSeller,
.mainDataDivPriduct .discriptionProductrating {
  font-size: 0.8rem;
}

.mainDataDivPriduct .containerColorsProduct {
  overflow-x: auto;
}

.mainDataDivPriduct .listOption::before {
  content: " \2022 ";
  color: #868383;
  margin-left: 0.5rem;
}

.mainDataDivPriduct .listOption .titleOption {
  color: #868383;
}

.mainDataDivPriduct .iconOptionVipUser {
  color: #943db1;
}

.mainDataDivPriduct .SliderProduct .mySwiper {
  width: 100%;
}

.mainDataDivPriduct .SliderProduct .swiper-slide {
  text-align: center;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainDataDivPriduct .SliderProduct .swiper-slide img {
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 578px) {
  .mainDataDivPriduct {
    font-size: 1.2rem;
  }
  .mainDataDivPriduct .boederSectionTop {
    border-top: 10px solid #eae9e9;
  }
  .mainDataDivPriduct .containerForPriceProduct button {
    font-size: 00.8rem;
    font-weight: bold;
  }
  .mainDataDivPriduct .titleContainerDivseller {
    font-size: 1rem;
  }
  .mainDataDivPriduct .titleOption {
    font-size: 0.8rem;
  }
  .mainDataDivPriduct .titleProduct {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 578px) {
  .mainDataDivPriduct .divContainerSelling {
    background-color: #eeebeb;
  }
  .mainDataDivPriduct .titleProduct {
    font-size: 1.2rem;
  }
  .mainDataDivPriduct .titleContainerDivseller {
    font-size: 1.2rem;
  }
  .mainDataDivPriduct .titleOption {
    font-size: 1.2rem;
  }
}

.Recommendations a {
  background-color: white;
}

.Recommendations .sliderRecommendations {
  height: 100%;
}

.Recommendations .sliderRecommendations .swiper {
  width: 100%;
  height: 100%;
}

.Recommendations .sliderRecommendations .swiper-slide {
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.Recommendations .sliderRecommendations img {
  object-fit: cover;
  height: 18vh;
}

@media only screen and (max-width: 578px) {
  .Recommendations .titleRecommendations {
    font-size: 1rem;
  }
  .Recommendations .titleRecommendationsProduct {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 578px) {
  .Recommendations .titleRecommendations {
    font-size: 0.9rem;
  }
  .Recommendations .titleRecommendationsProduct {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 578px) {
  .InformaintionProduct .headerInfoProduct {
    font-size: 0.8rem;
  }
  .InformaintionProduct .titleRecommendationsProduct {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 578px) {
  .InformaintionProduct .headerInfoProduct {
    font-size: 1.1rem;
  }
  .InformaintionProduct .titleRecommendationsProduct {
    font-size: 1.3rem;
  }
}

.containerPageNaite .baseClassPageNaite {
  font-size: 1.1rem;
  background-color: white;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0s;
}

.containerPageNaite .baseClassPageNaite:hover {
  border: 2px solid red;
  color: red;
  border-radius: 51%;
  width: calc(20vw / 6);
  height: calc(20vw / 6);
  background-color: white;
}

.containerPageNaite .activePage {
  border-radius: 51%;
  width: calc(20vw / 6);
  height: calc(20vw / 6);
  color: white;
  background-color: red;
  border-radius: 51%;
  width: calc(20vw / 6);
  transition: 0s;
  height: calc(20vw / 6);
}

.containerPageNaite .titleComent,
.containerPageNaite .buyerBadage {
  font-size: 1.1rem;
}

.LastCommentsInDekstop .titleComponent {
  font-size: 1.1rem;
}

.LastCommentsInDekstop .buyerBadage,
.LastCommentsInDekstop .titleComent {
  font-size: 1rem;
}

@media only screen and (max-width: 578px) {
  .LastCommentsInDekstop .titleComponent {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 578px) {
  .LastCommentsInDekstop .titleComponent {
    font-size: 1.3rem;
  }
}

.LastCommentsInMobile .titleComponent {
  font-size: 0.9rem;
}

.LastCommentsInMobile .buyerBadage,
.LastCommentsInMobile .MoreCommentsBtn,
.LastCommentsInMobile .titleComent {
  font-size: 0.8rem;
}

.LastCommentsInMobile .swiper {
  width: 100%;
  height: 100%;
}

.LastCommentsInMobile .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 100%;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.LastCommentsInMobile .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ModalMoreCommentsMobile {
  z-index: 10;
  background-color: gainsboro;
}

.ModalMoreCommentsMobile .commentCard {
  border-radius: 15px;
}

.ModalMoreCommentsMobile .commentCard .titleComent,
.ModalMoreCommentsMobile .commentCard .buyerBadage {
  font-size: 0.8rem;
}

.ModalMoreCommentsMobile .baseClassPageNaite {
  font-size: 1.1rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0s;
}

.ModalMoreCommentsMobile .activePage {
  border-radius: 51%;
  width: calc(60vw / 6);
  height: calc(60vw / 6);
  color: white;
  background-color: red;
  border-radius: 51%;
  transition: 0s;
}

.ModalMoreCommentsMobile .titleComent,
.ModalMoreCommentsMobile .buyerBadage {
  font-size: 0.9rem;
}

.Footer .contactTitleHeaderInFooter {
  font-size: 0.9rem;
  direction: rtl;
}

.Footer .contactTitleHeaderInFooter,
.Footer .contactTitleMediaInFooter {
  font-size: 0.7rem;
}

.Footer .iconMediaFooter:hover {
  color: rgba(0, 0, 0, 0.685);
}

.Footer .inputEmailInFooter {
  outline: none;
  background-color: #eaeaea;
  height: 5vh;
  border: none;
  font-size: 0.9rem;
}

.Footer .liItemFooter {
  transition: 0.2s;
}

.Footer .liItemFooter:hover {
  color: red;
}

.Footer .titleEndOfFooter {
  font-size: 0.7rem;
}

@media only screen and (max-width: 578px) {
  .Footer .titleLiFooter {
    font-size: 0.9rem;
  }
  .Footer .liItemFooter {
    font-size: 0.7rem;
  }
  .Footer .titleInAccordion {
    font-size: 1rem;
  }
  .Footer .bodyInAccordion {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 578px) {
  .Footer .titleLiFooter {
    font-size: 0.8rem;
  }
  .Footer .liItemFooter {
    font-size: 0.6rem;
  }
  .Footer .titleInAccordion {
    font-size: 1.1rem;
  }
  .Footer .bodyInAccordion {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 657px) {
  .Footer .titleLiFooter {
    font-size: 1rem;
  }
  .Footer .liItemFooter {
    font-size: 0.8rem;
  }
}

.OptionsSendProduct .descriptionBoxsServices {
  font-size: 0.9em;
}

.grayAllElems {
  filter: grayscale(100%);
}

.Loader {
  z-index: 12;
  background-color: rgba(0, 0, 0, 0.41);
}

.Loader .classic-7 {
  font-weight: bold;
  font-family: monospace;
  font-size: 1.3rem;
  color: #0000;
  background: linear-gradient(90deg, red calc(50% + 0.5ch), #000 0) right/calc(200% + 1ch) 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: c7 1s infinite steps(11);
}

@keyframes c7 {
  to {
    background-position: left;
  }
}

.Slider .containerSlideSwiper {
  height: 50vh;
}

.Slider .containerSlideSwiper .swiper {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Slider .containerSlideSwiper .swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Slider .containerSlideSwiper .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 578px) {
  .imgSliderHeaderHome {
    height: 20vh;
  }
}

@media only screen and (min-width: 578px) {
  .imgSliderHeaderHome {
    height: 50vh;
  }
}

@media only screen and (max-width: 700px) {
  .Home .containerSlideSwiper {
    height: 20vh;
    width: 100%;
  }
}

.SearchProductPage a {
  background-color: white;
}

.SearchProductPage .headerPage .textTitleCategory {
  font-size: 1.3rem;
}

.SearchProductPage .headerPage .titleItemCategory {
  font-size: 0.9rem;
}

.SearchProductPage .containerMainContent .leftSideContent .textTitleItemProduct {
  font-size: 1rem;
}

.SearchProductPage .containerMainContent .rightSideContent {
  position: relative;
}

.SearchProductPage .containerMainContent .rightSideContent .containerRightSideContent {
  height: 100%;
}

.SearchProductPage .containerMainContent .rightSideContent .containerRightSideContent .containerSticky {
  position: -webkit-sticky;
  top: 10%;
  height: 90vh;
  position: sticky;
}

.AccordionPrice {
  position: relative;
}

.AccordionPrice .headerAccordion {
  z-index: 1;
  background-color: white;
  cursor: pointer;
  user-select: none;
}

.AccordionPrice .headerAccordion .titleHeader {
  font-size: 1.2rem;
}

.AccordionPrice .headerAccordion:hover {
  border: 2px solid aqua;
}

.AccordionPrice .bodyAccordion {
  overflow: hidden;
  background-color: #7fc523;
  position: absolute;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  z-index: -1;
}

.AccordionPrice .bodyAccordion .inputPrice {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.AccordionPrice .bodyAccordion .inputPrice::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.AccordionPrice .qq {
  height: 100px;
}

.AccordionPrice .openBody {
  animation-name: openBodyAnime;
}

.AccordionPrice .closeBody {
  animation-name: closeBodyAnime;
}

@keyframes openBodyAnime {
  0% {
    height: 0;
  }
  100% {
    height: 300%;
  }
}

@keyframes closeBodyAnime {
  0% {
    height: 200%;
  }
  100% {
    height: 0%;
  }
}
/*# sourceMappingURL=base.css.map */