.NavBar {
  z-index: 3;
  // overflow: hidden;
  .mainContainerNavbar {
    button {
      background-color: white;
      border: none;
      outline: none;
    }
    input {
      border: none;
      outline: none;
      direction: rtl;
      background-color: rgb(238, 238, 238);

      // &:focus {
      //   background-color: rgb(255, 255, 255);
      //   border: 0.5px solid rgba(0, 0, 0, 0.144);
      //   outline: none;
      //   border-bottom: rgb(0, 183, 255) 2px solid;
      // }
    }
    .focusInput {
      background-color: white;
      border: 0.5px solid rgba(0, 0, 0, 0.144);
      outline: none;
      border-bottom: rgb(0, 183, 255) 2px solid;
    }
    .containerDivLogin {
      border: 0.5px solid rgba(0, 0, 0, 0.302);
      p {
        font-size: 0.8rem;
      }
    }
    .containerDivSearchInput {
      position: relative;

      input {
        z-index: 2;
      }
      .containerDivIcon {
        position: absolute;
        left: 2%;
        margin: 0;
        z-index: 3;
        background: none;

        button {
          width: 100%;
          padding: 0.5vw;
        }
      }
      .resultsSearchModal {
        z-index: 4;
        overflow-y: auto;
        position: absolute;
        top: 100%;
        height: 70rem !important;
        left: -85%;
        right: 0%;
        background-color: white;
        .containerItemSearch {
          &:hover {
            background-color: rgb(206, 206, 206);
          }
        }
        .itemText {
          font-size: 1rem;
        }
        .itemTextSlider {
          font-size: 0.85rem;
        }
      }

      .backgroundModalResultSearch {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        background-color: rgba(75, 74, 74, 0.463);
        top: 0;
        height: 100%;
      }
    }
  }
}
.mainContainerMenu {
  z-index: 2;

  ul {
    z-index: 1;
    position: relative;
    li {
      p {
        font-size: 1rem;
        width: 100%;
        text-align: center;
        cursor: pointer;
      }
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: rgb(255, 14, 14);
        transition: width 0.3s;
      }
      &:hover::after {
        width: 100%;
        cursor: pointer;
        //transition: width .3s;
      }
      a {
        p {
          font-size: 1rem;
          width: 100%;
          text-align: center;
          background-color: white;
        }
      }
    }
    .subMenu {
      right: 16%;
      top: 100%;
      border: 1px solid rgba(0, 0, 0, 0.37);
      li {
        width: 100%;
        text-align: center;
        transition: 0.1s;
        font-size: 1rem;
        &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: rgb(255, 255, 255);
          transition: width 0.3s;
        }
        &:hover {
          width: 100%;
          color: red;
          //transition: width .3s;
        }
      }
    }
  }
}
.sectionMenu {
  background-color: rgba(0, 0, 0, 0.612);
  z-index: 20;
  top: 0;
  bottom: 0;
  right: -100%;

  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.containerMenuMobile {
  right: -100%;
  z-index: 31;
  top: 0;
  bottom: 0;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  .subMenuMobile {
    overflow: auto;
    right: 100%;
    top: 0%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.37);

    li {
      width: 100%;
      text-align: center;
      transition: 0.1s;
      font-size: 0.9rem;
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: rgb(255, 255, 255);
        transition: width 0.3s;
      }
      &:hover {
        width: 100%;
        color: red;
        //transition: width .3s;
      }
    }
  }
}
.openMenuMobile {
  -webkit-animation-name: openMenuMobileAnime;
  animation-name: openMenuMobileAnime;
}
.closeMenuMobile {
  -webkit-animation-name: closeMenuMobileAnime;
  animation-name: closeMenuMobileAnime;
  right: -100%;
}

@-webkit-keyframes closeMenuMobileAnime {
  0% {
    right: 0%;
  }
  100% {
    right: -100%;
  }
}

@keyframes closeMenuMobileAnime {
  0% {
    right: 0%;
  }
  100% {
    right: -100%;
  }
}

@-webkit-keyframes openMenuMobileAnime {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

@keyframes openMenuMobileAnime {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}
